.container{
    display: flex;
    justify-content: center;
}
.bread_crumb{
    background-color: #F5F5F5;
}
.nav-link span{
    transition: 0.5s;
}
.nav-link span:hover{
    padding: 0 5px;
    color: red;
}
.product-overview  img{
    border: 1px solid red;
}