*{
    margin: 0 auto;
    padding: 0;
}
header{
    height: 132px;
    background-color: aqua;
}
.container{
    background-color: #F3F3F3;
}
ul.nav{
    width:1320px;
}
li, a {
    width: fit-content;
    margin: 0;
    padding: 0;
}
span:hover{
    color: red;
}
